{% extends 'base.html.twig' %}

{% block body %}
    {{ include('pieces/header.html.twig') }}
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            {{ include('pieces/adsense.html.twig') }}
            <div class="am-alert am-hide" id="msg"></div>
            <div class="am-form am-text-center">
                <input type="text" id="url" placeholder="{{ 'global.url'|trans }}" value="">
                <br>
                <input type="text" id="code" placeholder="{{ 'global.code'|trans }}" value="">
                <br />
                <div class="am-cf">
                    <button id="create" class="am-btn am-btn-primary">{{ 'global.generate'|trans }}</button>
                    <a href="{{ path('panel') }}" class="am-btn am-btn-default">{{ 'global.portal'|trans }}</a>
                    <a href="{{ path('plugins') }}" class="am-btn am-btn-warning">{{ 'global.plugin'|trans }}</a>
                </div>
            </div>
            <br><br>
            {{ include('pieces/adsense.html.twig') }}
            <hr>
            <p>© 2015 <a href="http://www.domyself.me/" target="_blank">ETY001</a>.</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    var post_url = "{{ path('url') }}";
    var get_url = "{{ absolute_url(path('jump')) }}";
</script>
<script src="{{ asset('assets/js/clipboard.min.js') }}"></script>
<script src="{{ asset('assets/js/custom/default.js') }}"></script>
{% endblock %}