{% extends 'base.html.twig' %}

{% block body %}
    {{ include('pieces/header.html.twig') }}
    <div class="am-g">
        <div class="am-u-lg-12 am-u-md-12 am-u-sm-centered">
            {{ include('pieces/adsense.html.twig') }}
            
            {% if(linkCount>0) %}
            <table class="am-table am-table-striped am-table-hover">
                <thead>
                    <tr>
                        <th>{{ 'portal.url'|trans }}</th>
                        <th>{{ 'portal.shorturl'|trans }}</th>
                        <th>{{ 'portal.visitnum'|trans }}</th>
                        <th>{{ 'portal.createdat'|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for link in links %}
                    <tr>
                        <td>{{ link.url }}</td>
                        <td>{{ baseUrl }}{{ link.code }}</td>
                        <td>{{ link.counter }}</td>
                        <td>{{ link.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td><a href="{{ path('delUrl', {'linkId':link.id}) }}">{{ 'portal.delete'|trans }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(links) }}

            {% else %}
            <p><a href="{{path('homepage')}}">{{ 'portal.nodata'|trans }}</a></p>
            {% endif %}
            <br><br>
            {{ include('pieces/adsense.html.twig') }}
            <hr>
            <p>© 2015 <a href="http://www.domyself.me/" target="_blank">ETY001</a>.</p>
        </div>
    </div>
{% endblock %}