<div class="header">
    {% if user is defined and user is not empty %}
    <div class="am-g">
        <h1><a href="{{path('homepage')}}">{{ 'global.sitetitle'|trans }}</a></h1>
        <p>Login as: <a href="{{ path('panel') }}">{{ user.username }}</a></p>
    </div>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-lg-centered">
            <a href="{{ path('homepage') }}" class="am-btn am-btn-primary am-radius">首页</a>
            <a href="{{ path('fos_user_security_logout') }}" class="am-btn am-btn-default am-radius">退出</a>
        </div>
    </div>
    {% else %}
    <div class="am-g">
        <h1><a href="{{path('homepage')}}">{{ 'global.sitetitle'|trans }}</a></h1>
        <p>Make Your URL Short</p>
    </div>
    {% endif %}
    <hr />
</div>