{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<ul data-am-widget="pagination" class="am-pagination am-pagination-default">
    {% if first is defined and current != first %}
    <li class="am-pagination-first ">
        <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="">第一页</a>
    </li>
    {% endif %}

    {% if previous is defined %}
    <li class="am-pagination-prev ">
        <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="">上一页</a>
    </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="">{{ page }}</a>
            </li>
        {% else %}
            <li class="am-active">
                <a href="javascript:void(0);" class="am-active">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if next is defined %}
    <li class="am-pagination-next ">
        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="">下一页</a>
    </li>
    {% endif %}

    {% if last is defined and current != last %}
    <li class="am-pagination-last ">
        <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="">最末页</a>
    </li>
    {% endif %}
</ul>
{% endif %}